<style>
    .tooltip-ellipsis {
  max-width: 200px; /* Adjust the maximum width as needed */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;
  cursor: help;
}

.tooltip-ellipsis::after {
  content: attr(title);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 4px 8px;
  background-color: #000;
  color: #fff;
  border-radius: 4px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
}

.tooltip-ellipsis:hover::after {
  opacity: 1;
  visibility: visible;
}

</style>



<%- include('../layouts/adminHeader.ejs') %>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>


        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Categories </h2>
                    <p>Add, edit or Change Status</p>
                </div>
              
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <form action="/admin/addCategory" method="post">
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Name</label>
                                    <input type="text" placeholder="Type here" class="form-control" id="product_name" name="name" />
                                </div>
                            
                                <div class="mb-4">
                                    <label class="form-label">Description</label>
                                    <textarea placeholder="Type here" class="form-control" name="description"></textarea>
                                </div>
                                <div class="d-grid">
                                    <button class="btn btn-primary">Create category</button>
                                    <p><%=(typeof message!=='undefined')?message:""%></p>
                                  
                                </div>
                            </form>
                            
                          


                             



                            </form>
                        </div>
                        <div class="col-md-9">
                            <div class="table-responsive">
                                <table class="table table-hover"  id="myTable">
                                    <thead>
                                        <tr>
                                          
                                           
                                            <th>Name</th>
                                            <th>Description</th>
                                            <th>Is Listed</th>
                                           
                                            <th class="text-end">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% categories.forEach((category)=> { %>
                                            <tr>
                                                <td><b><%= category.name %></b></td>
                                                <!-- <td><%= category.description %></td> -->
                                                <td title="<%=category.description %>" class="tooltip-ellipsis"><%=category.description %></td>
                                                <% if (category.isListed == true) { %>
                                                    <td><span style="color: green;">Listed</span></td>
                                                  <% } else { %> 
                                                    <td><span style="color: red;">Unlisted</span></td>
                                                  <% } %>
                                                <!-- <td><%= category.isListed %></td> -->

                                                <td class="text-end">
                                                    <div class="dropdown">
                                                        <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm">
                                                            <i class="material-icons md-more_horiz"></i>
                                                        </a>
                                                        <div class="dropdown-menu">
                                                         
                                                            <a class="dropdown-item" href="/admin/editCategory?id=<%=category._id %>">Edit info</a>
                                                            <a class="dropdown-item text-danger" href="/admin/changeStatus?id=<%=category._id %>">Change Status</a>
                                                            <a class="dropdown-item text-danger" href="/admin/deleteCategory?id=<%=category._id %>">Delete</a>


                                                        </div>
                                                    </div> <!-- dropdown //end -->
                                                </td>
                                            </tr>
                                        <% }); %>
                                    </tbody>
                                    
                                    
                                </table>
                            </div>
                        </div> <!-- .col// -->
                    </div> <!-- .row // -->
                </div> <!-- card body .// -->
            </div> <!-- card .// -->
        </section> <!-- content-main end// -->


        <script>
            $(document).ready(function() {
            $.noConflict();
              $('#myTable').DataTable({
                "paging": true,          // Enable pagination
                "pageLength": 10,        // Number of rows per page
                "lengthMenu": [10, 25, 50, 75, 100],  // Dropdown options for rows per page
        
              });
            });
            </script>



  
        

        <%- include('../layouts/adminFooter.ejs') %>
      
